.root{
    -fx-background-image: url("Photo/erp.jpg");
    -fx-background-size: cover;
}
.confirmBtn{
    -fx-background-color: yellowgreen;
    -fx-text-fill: white;
}
.inputField{
    -fx-text-fill: white;
}
.cardPane{
    -fx-border-radius: 8px;
}
.tpMain{
    -fx-background-image: url("Photo/656670.jpg");
    -fx-background-size: cover;
}