.root{
    -fx-background-image: url("Photo/erp.jpg");
    -fx-background-size: cover;
}
.confirmBtn{
    -fx-background-color: yellowgreen;
    -fx-text-fill: white;
}
.inputField{
    -fx-text-fill: white;
}
.cardPane{
    -fx-border-radius: 8px;
}
.tpMain{
    -fx-background-image: url("Photo/656670.jpg");
    -fx-background-size: cover;
}
.transparentBtn{
    -fx-background-color: transparent;
}
.componentColor{
    -fx-background-color: blue;
}
.btn{
    -fx-background-color: #1E90FF;
    -fx-text-fill: black;
    -fx-border-color: whitesmoke;
    -fx-border-radius: 2px;
}
.btn:hover{
    -fx-background-color: #00BFFF;
    -fx-text-fill: white;
    -fx-border-color: whitesmoke;
    -fx-border-radius: 2px;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color:silver;
}


.tab-pane {
    -fx-tab-min-height:25px;
    -fx-tab-max-height:25px;
}

.tab {
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-background-color: #188bff ;
}

.tab:selected {
    -fx-background-color: yellow ;
    -fx-max-height: 28;
}
.imgv:hover{
    -fx-opacity: 50 ;
}
